<?xml version='1.0' encoding='utf-8'?>
    <widget xmlns       = "http://www.w3.org/ns/widgets"
            xmlns:gap       = "http://phonegap.com/ns/1.0"
            xmlns:android   = "http://schemas.android.com/apk/res/android"
            id              = "tw.yuin.computeLife"
            version         = "1.0.3">
    <drawableupports-screens android:anyDensity="true" android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true" />
    <icon src="www/icon.png" />
    <icon gap:platform="android" gap:density="ldpi"  src="www/img/android/icon.png" />
    <icon gap:platform="android" gap:density="mdpi"  src="www/img/android/icon.png" />
    <icon gap:platform="android" gap:density="hdpi"  src="www/img/android/icon.png" />
    <icon gap:platform="android" gap:density="xhdpi" src="www/img/android/icon.png" />
    <splash gap:density="land-hdpi" gap:platform="android"  src="www/img/android/drawable-land-hdpi/screen.png" />
    <splash gap:density="land-ldpi" gap:platform="android"  src="www/img/android/drawable-land-ldpi/screen.png" />
    <splash gap:density="land-mdpi" gap:platform="android"  src="www/img/android/drawable-land-mdpi/screen.png" />
    <splash gap:density="land-xhdpi" gap:platform="android" src="www/img/android/drawable-land-xhdpi/screen.png" />
    <splash gap:density="port-hdpi" gap:platform="android"  src="www/img/android/drawable-port-hdpi/screen.png" />
    <splash gap:density="port-ldpi" gap:platform="android"  src="www/img/android/drawable-port-ldpi/screen.png" />
    <splash gap:density="port-mdpi" gap:platform="android"  src="www/img/android/drawable-port-mdpi/screen.png" />
    <splash gap:density="port-xhdpi" gap:platform="android" src="www/img/android/drawable-port-xhdpi/screen.png" />
    <name>計算年紀</name>
    <description>
        計算小朋友的年齡
    </description>
    <author email="yuin.service@gmail.com" href="http://yuin.tw">
        YUIN RD
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="~4.1.1" />
</widget>
