<?xml version='1.0' encoding='utf-8'?>
<widget id="tw.yuin.computeLife" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>計算年紀</name>
    <description>
        計算小朋友的年齡
    </description>
    <author email="yuin.service@gmail.com" href="http://yuin.tw">
        YUIN RD
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="img/android/icon.png" density="ldpi" />
        <icon src="img/android/icon.png" density="mdpi" />
        <icon src="img/android/icon.png" density="hdpi" />
        <icon src="img/android/icon.png" density="xhdpi" />

        <splash src="res/screen/android/splash-land-hdpi/screen.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi/screen.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi/screen.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi/screen.png" density="land-xhdpi"/>

        <splash src="res/screen/android/splash-port-hdpi/screen.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi/screen.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi/screen.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi/screen.png" density="port-xhdpi"/>icon
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~4.1.1" />
</widget>
